.authorization__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFF;
    text-decoration: none;
    margin-top: 15px;
}

.authorization__link:hover {
    opacity: 0.6;
}