.authorization__input {
    width: 260px;
    height: 27px;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border-bottom: 1px solid #CCC;
    background-color: black;
    color: #fff;
    margin-top: 30px;
}

@media screen and (min-width: 880px) {
    .authorization__input {
        width: 358px;
    }
}